{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% block title %}Candidates{% endblock title %}

{% block content %}
<h3>Transient candidates</h3>
<p>The table below shows all the transient pairs that I regarded as real during vetting. The <i>Comment</i> column gives the Simbad classification for the pair if it exists. Otherwise, most pairs are probably stars or asteroids. The <i>Image series</i> column contains a series of cutouts at the coordinates listed for that pair - most commonly for asteroids where it can be seen in multiple observations that the source was moving across the field. Light curves have been produced for most pairs, using 1" radius sky matches. Where no source was detected within 1" of the pair's coordinates, limiting magnitudes have been shown with vertical dashes. The <i>External links</i> column gives the links to the Simbad and Gaia DR2 pages for the pair at those coordinates. One source - a Quasar in row 29 - is in the Transient Name Server, with the link provided. </p>
{% render_table table %}

{% endblock content %}