{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% block title %}Transient fields{% endblock title %}

{% block content %}
<h3>How to perform the transient vetting</h3>
<p>Presently, sources having an absolute Scorr value greater than 6 are included in the transient catalogues. In order to reduce the number of bogus transients we need to vet, I've ensured that only sources with an absolute Scorr value greater than 10 should be included. Furthermore, I haved added the selection criteria that a transient must be observed at least twice on a particular night regardless of filter, resulting in a "matching pair". All of the matching pairs - across all fields - have been added to a database based on the model <code>Transient_files</code>. Each matching pair has its own unique ID. Select a field in the table below to see a table of all of the matching pairs of transients found in that field. Go back to the <i>Home</i> page to see where each field is located in relation to the GW localization. The dates listed below are the observing dates of the nights in August 2019.</p>

<p>Once candidates have been selected, click on the <i>View table of selected candidates</i> tab at the bottom of the page to see a table of user-selected candidates. It is important to note that many sources will have multiple matching pairs. While doing the vetting, I chose to only add the first matching pair of variable sources - that is a source which is present in the new and reference images of multiple pairs. If a source had multiple matching pairs around a set of coordinates but did not appear variable (i.e it appeared and disappeared), I would have considered adding it multiple times. It would be possible however, to do an internal crossmatch to remove duplicates.</p>
{% render_table table %}

<a href="/vetting/user-selected-candidates/" class="btn btn-info" role="button">View table of selected candidates</a>

{% endblock content %}